@import url(http://fonts.googleapis.com/css?family=Abel|Arvo|Poiret+One|Great+Vibes);

#content{
  border-width:0px;
  width:650px;
  height:500px;
  background-color: rgba(0,0,0,0.75);
  /* background-color: rgba(256,256,256,0.75); */
  margin:0 auto;
  display:block;
}
