.body{
    background-image: url("../images/background.jpg");
}

.h1{
  font-family: sans-serif;
}

ul.navigation{
    list-style: none;
    margin:0px;
    padding:0px;
}
ul.navigation li{
    display: inline;
}