body{
    background-image: url("http://www.jonesingtogetmarried.com/images/background.jpg");
    background-size:cover;
}

h1, h2, h3{
  font-family: sans-serif;text-align: center;
}
h2, h3{
    font-family:Arial;
}
h2{
    text-transform: uppercase;
}

ul.navigation{
    list-style: none;
    margin:0px auto;
    padding:0px;
    width:550px;
}
ul.navigation li{
    display: inline;
}