body {
  background: url("http://www.jonesingtogetmarried.com/images/background.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1, h2, h3 {
    font-family: sans-serif;
    text-align: center;
    color: #9F000F;
}

h2, h3 {
    font-family: 'Arvo', serif;
    margin:8px 0px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 48pt;
    margin: 16px 0px;
}

h2 {
    text-transform: uppercase;
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

ul.navigation {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    /*width: 625px;*/
    width: 525px;
}

ul.navigation li {
    color:black;
    display: inline;
    margin:0px 5px;
}

ul.navigation li.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}
